@tailwind base;
@tailwind components;
@tailwind utilities;

body,*{
  margin: 0;
  padding: 0;
 /* background-color: rgba(85, 66, 8, 0.60); */
}
/* 
.heroSection{
  background: url("./images/HeroSectionImage.png");
  background-size: cover;

} */
