@tailwind base;
@tailwind components;
@tailwind utilities;

body,*{
  margin: 0;
  padding: 0;
 /* background-color: rgba(85, 66, 8, 0.60); */
}
/* 
.heroSection{
  background: url("./images/HeroSectionImage.png");
  background-size: cover;

} */




/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374558;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  color-scheme: dark;
}
input:focus{
border: none;
border-collapse: collapse;
outline: none;
}